@import '../variables';

.root {
	align-self: stretch;
	display: flex;
	flex-direction: column;

	margin-top: $section-vertical-margin / 2;
	.section {
		display: flex;
		flex-direction: column;
		margin: $section-vertical-margin 0;
		align-self: stretch;
	}
}
