$a4-width: 21cm;
$a4-height: 29.69cm;

$page-left-margin: 1.25rem;
$right-margin: $page-left-margin * 2;
$page-vertical-margin: 1.75rem;

$primary-blue: rgb(97, 121, 170);
$primary-black: rgba(0, 0, 0, 0.87);
$secondary-black: rgba(0, 0, 0, 0.6);

$section-vertical-margin: 1.25rem;
$section-top-vertical-margin: 0.5rem;
