@import 'src/shared/styles/variables';

.root {
	flex: 0 1 33.33%;
	display: flex;
	align-items: baseline;

	margin: 1mm 0;
	svg {
		color: $primary-blue;
		align-self: center;
	}
	.title {
		color: $primary-black;
		margin-left: 1mm;
		font-size: 14pt;
	}
	.subtitle {
		color: $secondary-black;
		margin-left: 2mm;
		font-size: 12pt;
	}
}
