@import '../variables';

.root {
	display: flex;
	align-items: center;
	margin: 0.2mm 0;
	svg {
		// fill: $primary-blue;
		fill: $secondary-black;
	}
	.text {
		margin-left: 2mm;
		font-weight: 300;
	}
}
