@import '@/styles/variables.scss';

.page {
	width: $a4-width;
	min-height: $a4-height;
	display: flex;

	background-color: #ffffff;
	padding-left: $page-left-margin;
	box-sizing: border-box;

	// @media not print {
	// 	margin: 8px 0;
	// 	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	// }

	.content {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		border-left: $page-left-margin solid $primary-blue;
		padding: $page-vertical-margin 0;

		.name {
			font-size: 1.75rem;
			font-weight: 600;
			color: $primary-blue;
			margin-left: $page-left-margin;
		}

		.description {
			color: $primary-black;
			margin: 0 $page-left-margin 0 $page-left-margin * 3;
			font-weight: 300;
			text-align: center;
		}
	}
}
