@import 'src/shared/styles/variables';

$section-left-margin: 1mm;

.root {
	display: flex;
	flex-direction: column;

	margin: 2mm $right-margin 2mm $left-margin;
	.title {
		display: flex;
		align-items: center;

		margin-right: $right-margin * 2;
		svg {
			color: $primary-blue;
			flex-shrink: 0;
		}
		.text {
			font-size: 18pt;
			color: $primary-black;
			margin-left: $section-left-margin;
		}
	}
	.info {
		display: flex;
		flex-direction: column;
		justify-content: center;

		margin: 1mm 0 1mm $left-margin + $section-left-margin * 2;
		.infoElement {
			display: flex;
			align-items: center;

			margin: 0.5mm 0;
			svg {
				color: $secondary-black;
			}
			.text {
				color: $primary-black;
				margin-left: 2mm;
				font-weight: 300;
			}
		}
	}
}
