@import '@/styles/variables.scss';

.root {
	align-self: stretch;
	display: flex;
	flex-direction: column;

	margin-top: $section-top-vertical-margin;
	.tags {
		align-self: stretch;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;

		margin: $section-vertical-margin $page-left-margin;
	}
}
