@import '../variables';

.root {
	align-self: stretch;

	background-color: $primary-blue;
	padding: 1.3mm;
	padding-left: $left-margin;
	.text {
		color: #ffffff;
		font-size: 22px;
		text-transform: uppercase;
		font-weight: 600;
	}
}
